.history .container-68 {
  width: 24px;
  height: 24px;
}
.history .container-67 {
  margin: 0 20px 980px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.history .container-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .lesson-01 {
  margin-bottom: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  color: #333333;
}
.history .time-46-h {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-4 {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.history .container-5 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 96px;
  line-height: 1;
  color: #333333;
}
.history .container-3 {
  position: relative;
  margin: 0 160px 272px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 464px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-8 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .pose-01 {
  margin-bottom: 2.5px;
  display: inline-block;
  width: 132px;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}
.history .time-46-h-1 {
  margin-top: 2.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-9 {
  position: relative;
  margin-bottom: 29.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 192.3px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-10 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #333333;
}
.history .container-7 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px 16px 0;
  width: 688px;
  box-sizing: border-box;
}
.history .container-12 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .pose-011 {
  margin-bottom: 2.5px;
  display: inline-block;
  width: 132px;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}
.history .time-46-h-2 {
  margin-top: 2.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-13 {
  position: relative;
  margin-bottom: 29.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 192.3px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-14 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #333333;
}
.history .container-11 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px 16px 0;
  width: 688px;
  box-sizing: border-box;
}
.history .container-16 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .pose-012 {
  margin-bottom: 2.5px;
  display: inline-block;
  width: 132px;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}
.history .time-46-h-3 {
  margin-top: 2.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-17 {
  position: relative;
  margin-bottom: 29.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 192.3px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-18 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #333333;
}
.history .container-15 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px 16px 0;
  width: 688px;
  box-sizing: border-box;
}
.history .container-20 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .pose-013 {
  margin-bottom: 2.5px;
  display: inline-block;
  width: 132px;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}
.history .time-46-h-4 {
  margin-top: 2.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-21 {
  position: relative;
  margin-bottom: 29.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 192.3px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-22 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #333333;
}
.history .container-19 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px 16px 0;
  width: 688px;
  box-sizing: border-box;
}
.history .container-24 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .pose-014 {
  margin-bottom: 2.5px;
  display: inline-block;
  width: 132px;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}
.history .time-46-h-5 {
  margin-top: 2.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-25 {
  position: relative;
  margin-bottom: 29.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 192.3px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-26 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #333333;
}
.history .container-23 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px 16px 0;
  width: 688px;
  box-sizing: border-box;
}
.history .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 688px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  width: 1312px;
  box-sizing: border-box;
}
.history .container-28 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .lesson-02 {
  margin-bottom: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  color: #333333;
}
.history .time-46-h-6 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-30 {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.history .container-31 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 96px;
  line-height: 1;
  color: #333333;
}
.history .container-29 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 464px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-32 {
  position: relative;
  margin: 28px 0;
  width: 40px;
  height: 40px;
}
.history .container-27 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0;
  width: 1312px;
  box-sizing: border-box;
}
.history .container-38 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .lesson-03 {
  margin-bottom: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  color: #333333;
}
.history .time-46-h-7 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-40 {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.history .container-41 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 96px;
  line-height: 1;
  color: #333333;
}
.history .container-39 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 464px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-42 {
  position: relative;
  margin: 28px 0;
  width: 40px;
  height: 40px;
}
.history .container-37 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0;
  width: 1312px;
  box-sizing: border-box;
}
.history .container-48 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .lesson-04 {
  margin-bottom: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  color: #333333;
}
.history .time-46-h-8 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.history .container-50 {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.history .container-51 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 96px;
  line-height: 1;
  color: #333333;
}
.history .container-49 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 512px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-52 {
  position: relative;
  margin: 28px 0;
  width: 40px;
  height: 40px;
}
.history .container-47 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0;
  width: 1312px;
  box-sizing: border-box;
}
.history .container-58 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.history .lesson-05 {
  margin-bottom: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  color: #333333;
}
.history .time-46-h-9 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegularθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.history .container-60 {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.history .container-61 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θMediumθ3.000;SHMI;Manrope3', 'Roboto Condensed';
  font-weight: 500;
  font-size: 96px;
  line-height: 1;
  color: #333333;
}
.history .container-59 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 464px;
  height: fit-content;
  box-sizing: border-box;
}
.history .container-62 {
  position: relative;
  margin: 28px 0;
  width: 40px;
  height: 40px;
}
.history .container-57 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0;
  width: 1312px;
  box-sizing: border-box;
}
.history .container {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1312px;
  height: fit-content;
  box-sizing: border-box;
}
.history {
  background: #D3D4C7;
  display: flex;
  flex-direction: row;
  padding: 20px 64px 0 20px;
  width: 1440px;
  box-sizing: border-box;
}
