.lessons .container-130 {
  width: 24px;
  height: 24px;
}
.lessons .container-129 {
  margin: 0 14.8px 980px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.lessons .container-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.lessons .lesson-01 {
  margin-bottom: 60px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 32px;
  color: #333333;
}
.lessons .heres-the-homepage-of-my-body-wisdom-be {
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-3 {
  position: relative;
  margin: 0 86.5px 146px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-8 {
  width: 40px;
  height: 40px;
}
.lessons .container-6 {
  background: url('../assets/images/image_16.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 75px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-01 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-5 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-15 {
  width: 40px;
  height: 40px;
}
.lessons .container-13 {
  background: url('../assets/images/image_11.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-011 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-12 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-22 {
  width: 40px;
  height: 40px;
}
.lessons .container-20 {
  background: url('../assets/images/image_10.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-012 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-19 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-29 {
  width: 40px;
  height: 40px;
}
.lessons .container-27 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-013 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-26 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.lessons .container-1 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;
  width: fit-content;
  box-sizing: border-box;
}
.lessons .container-34 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.lessons .lesson-02 {
  margin-bottom: 60px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 32px;
  color: #333333;
}
.lessons .heres-the-homepage-of-my-body-wisdom-be-1 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-35 {
  position: relative;
  margin: 0 86.5px 146px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-40 {
  width: 40px;
  height: 40px;
}
.lessons .container-38 {
  background: url('../assets/images/image_6.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 75px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-014 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-37 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-47 {
  width: 40px;
  height: 40px;
}
.lessons .container-45 {
  background: url('../assets/images/image_11.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-015 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-44 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-54 {
  width: 40px;
  height: 40px;
}
.lessons .container-52 {
  background: url('../assets/images/image_10.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-016 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-51 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-61 {
  width: 40px;
  height: 40px;
}
.lessons .container-59 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-017 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-58 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-36 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.lessons .container-33 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;
  width: fit-content;
  box-sizing: border-box;
}
.lessons .container-66 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.lessons .lesson-03 {
  margin-bottom: 60px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 32px;
  color: #333333;
}
.lessons .heres-the-homepage-of-my-body-wisdom-be-2 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.lessons .container-67 {
  position: relative;
  margin: 0 70.7px 146px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-72 {
  width: 40px;
  height: 40px;
}
.lessons .container-70 {
  background: url('../assets/images/image_16.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 75px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-018 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-69 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-79 {
  width: 40px;
  height: 40px;
}
.lessons .container-77 {
  background: url('../assets/images/image_2.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-019 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-76 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-86 {
  width: 40px;
  height: 40px;
}
.lessons .container-84 {
  background: url('../assets/images/image_10.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-0110 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-83 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-93 {
  width: 40px;
  height: 40px;
}
.lessons .container-91 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-0111 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-90 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-68 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.lessons .container-65 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;
  width: fit-content;
  box-sizing: border-box;
}
.lessons .container-98 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.lessons .lesson-04 {
  margin-bottom: 60px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 32px;
  color: #333333;
}
.lessons .heres-the-homepage-of-my-body-wisdom-be-3 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.lessons .container-99 {
  position: relative;
  margin: 0 70.7px 146px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-104 {
  width: 40px;
  height: 40px;
}
.lessons .container-102 {
  background: url('../assets/images/image_16.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 75px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-0112 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-101 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-111 {
  width: 40px;
  height: 40px;
}
.lessons .container-109 {
  background: url('../assets/images/image_2.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-0113 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-108 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-118 {
  width: 40px;
  height: 40px;
}
.lessons .container-116 {
  background: url('../assets/images/image_10.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-0114 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-115 {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-125 {
  width: 40px;
  height: 40px;
}
.lessons .container-123 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding: 91px 0 59px 0;
  width: 304px;
  height: 190px;
  box-sizing: border-box;
}
.lessons .pose-0115 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.lessons .container-122 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.lessons .container-100 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.lessons .container-97 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;
  width: fit-content;
  box-sizing: border-box;
}
.lessons .container {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1792px;
  height: fit-content;
  box-sizing: border-box;
}
.lessons {
  background: #D3D4C7;
  display: flex;
  flex-direction: row;
  padding: 20px 0 0 20px;
  width: 1440px;
  box-sizing: border-box;
}
