.playlist .container-85 {
  width: 24px;
  height: 24px;
}
.playlist .container-84 {
  margin: 0 234.1px 908px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.playlist .container-59 {
  filter: blur(65.2px);
  background: url('../assets/images/image_19.jpeg') 50% / cover no-repeat;
  position: relative;
  width: 373px;
  height: 373px;
}
.playlist .container-60 {
  background: url('../assets/images/image_19.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 437px;
}
.playlist .container-58 {
  position: relative;
  margin-bottom: 64px;
  display: flex;
  padding: 74px 32px 0 32px;
  width: 437px;
  height: 447px;
  box-sizing: border-box;
}
.playlist .the-saltwater-room-11 {
  margin-bottom: 41px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}
.playlist .owl-city-11 {
  margin-right: 14.5px;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}
.playlist .container-62 {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.playlist .container-66 {
  background: #333333;
  width: 368px;
  height: 2px;
}
.playlist .container-64 {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 8px;
  width: 437px;
  height: 2px;
  box-sizing: border-box;
}
.playlist .container-68 {
  width: 410.5px;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-69 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-67 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 437px;
  box-sizing: border-box;
}
.playlist .container-63 {
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 437px;
  box-sizing: border-box;
}
.playlist .container-71 {
  margin: 16px 0;
  width: 32px;
  height: 32px;
}
.playlist .container-75 {
  width: 64px;
  height: 64px;
}
.playlist .container-80 {
  margin: 16px 0;
  width: 32px;
  height: 32px;
}
.playlist .container-70 {
  display: flex;
  flex-direction: row;
  column-gap: 64px;
  width: 256px;
  box-sizing: border-box;
}
.playlist .container-61 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 437px;
  box-sizing: border-box;
}
.playlist .container-57 {
  margin: 127.9px 244.9px 75.1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 437px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-3 {
  background: url('../assets/images/image_19.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #999999;
}
.playlist .container-5 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-6 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-4 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-1 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  padding: 8px 16.5px 8px 8px;
  width: 416px;
  box-sizing: border-box;
}
.playlist .container-8 {
  background: url('../assets/images/image.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-1 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-10 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-11 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-9 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-7 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-13 {
  background: url('../assets/images/image_12.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-2 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-15 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-16 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-14 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-12 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-18 {
  background: url('../assets/images/image_5.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-3 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-20 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-21 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-19 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-17 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-23 {
  background: url('../assets/images/image_7.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-4 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-4 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-25 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-26 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-24 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-22 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-28 {
  background: url('../assets/images/image_5.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-5 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-5 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-30 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-31 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-29 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-27 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-33 {
  background: url('../assets/images/image_14.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-6 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-6 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-35 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-36 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-34 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-32 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-38 {
  background: url('../assets/images/image_15.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-7 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-7 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-40 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-41 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-39 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-37 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-43 {
  background: url('../assets/images/image_17.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-8 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-8 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-45 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-46 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-44 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-42 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-48 {
  background: url('../assets/images/image_9.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-9 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-9 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-50 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-51 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-49 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-47 {
  margin: 0 16.5px 32px 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container-53 {
  background: url('../assets/images/image_8.jpeg') 50% / cover no-repeat, linear-gradient(#E6E6E6, #E6E6E6);
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.playlist .the-saltwater-room-10 {
  margin-bottom: 26px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.playlist .owl-city-10 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.playlist .container-55 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.playlist .container-56 {
  margin: 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Manrope3θMedium', 'Roboto Condensed';
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.playlist .container-54 {
  margin: 2.5px 0 19.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327.5px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist .container-52 {
  margin: 0 16.5px 0 8px;
  display: flex;
  flex-direction: row;
  width: 391.5px;
  box-sizing: border-box;
}
.playlist .container {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 416px;
  height: fit-content;
  box-sizing: border-box;
}
.playlist {
  background: #D3D4C7;
  display: flex;
  flex-direction: row;
  padding: 20px 64px 72px 20px;
  width: 1440px;
  box-sizing: border-box;
}
