.poses .container-31 {
  width: 24px;
  height: 24px;
}
.poses .container-30 {
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.poses .container-2 {
  width: 64px;
  height: 64px;
}
.poses .container {
  background: url('../assets/images/image_4.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 32px;
  display: flex;
  padding: 243px 0 242px 0;
  width: 976px;
  height: 549px;
  box-sizing: border-box;
}
.poses .light-bright-boho-yoga-website-inspirati {
  margin-bottom: 76px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 32px;
  color: #333333;
}
.poses .heres-the-homepage-of-my-body-wisdom-be {
  overflow-wrap: break-word;
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.heres-the-homepage-of-my-body-wisdom-be-sub1 {
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.heres-the-homepage-of-my-body-wisdom-be-sub2 {
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.heres-the-homepage-of-my-body-wisdom-be {
  font-family: 'Manrope3θRegular', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.poses .container-29 {
  margin-right: 9.9px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-1 {
  margin: 0 32px 190px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.poses .container-8 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.poses .light-bright-boho-yoga {
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.poses .container-9 {
  margin: 40.5px 0 79.5px 0;
  display: flex;
  box-sizing: border-box;
}
.poses .container-7 {
  margin: 0 1.8px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-12 {
  background: url('../assets/images/image_4.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.poses .light-bright-boho-yoga-1 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.poses .container-13 {
  margin: 40.5px 0 79.5px 0;
  display: flex;
  box-sizing: border-box;
}
.poses .container-10 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  padding: 8px 24.5px 8px 8px;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-15 {
  background: url('../assets/images/image_11.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.poses .light-bright-boho-yoga-2 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.poses .container-16 {
  margin: 40.5px 0 79.5px 0;
  display: flex;
  box-sizing: border-box;
}
.poses .container-14 {
  margin: 0 1.8px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-18 {
  background: url('../assets/images/image_4.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.poses .light-bright-boho-yoga-3 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.poses .container-19 {
  margin: 40.5px 0 79.5px 0;
  display: flex;
  box-sizing: border-box;
}
.poses .container-17 {
  margin: 0 1.8px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-21 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.poses .light-bright-boho-yoga-4 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.poses .container-22 {
  margin: 40.5px 0 79.5px 0;
  display: flex;
  box-sizing: border-box;
}
.poses .container-20 {
  margin: 0 1.8px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-24 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.poses .light-bright-boho-yoga-5 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.poses .container-25 {
  margin: 40.5px 0 79.5px 0;
  display: flex;
  box-sizing: border-box;
}
.poses .container-23 {
  margin: 0 1.8px 16px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-27 {
  background: url('../assets/images/image_3.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 160px;
  height: 120px;
}
.poses .light-bright-boho-yoga-6 {
  overflow-wrap: break-word;
  font-family: 'Manrope3θBold', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.poses .container-28 {
  margin: 40.5px 0 79.5px 0;
  display: flex;
  box-sizing: border-box;
}
.poses .container-26 {
  margin-right: 1.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.poses .container-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.poses .container {
  margin-left: 44px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.poses {
  background: #D3D4C7;
  display: flex;
  flex-direction: column;
  padding: 20px 64px 8px 20px;
  width: 1440px;
  box-sizing: border-box;
}
